<html xmlns:th="https://www.thymeleaf.org/">
    <div th:replae="fragments/commonui :: header"></div>
    <body>
        <div th:replace="fragments/commonui :: menu"></div>
        <div class="container">
            <div class="card">
                <div class="card-header bg-primary  text-center text-white">
                   <h3>Patient Edit </h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/patient/update}" method="POST" th:object="${patient}" >
                        <!--row#0--> 
                        <div class="row">
                            <div class="col-2">
                              <label for="id">ID</label>  
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{id}" class="form-control" readonly/>
                            </div>
                            <div class="col-6">
                                <span id="idError"></span>
                            </div>
                        </div>
                         <!--row#1--> 
                        <div class="row">
                            <div class="col-2">
                              <label for="firstName">FirstName</label>  
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{firstName}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="firstNameError"></span>
                            </div>
                        </div>
                         <!--row#2--> 
                        <div class="row">
                              <div class="col-2">
                                <label for="lastName">LastName</label>  
                              </div>
                              <div class="col-4">
                                <input type="text" th:field="*{lastName}" class="form-control"/>
                              </div>
                              <div class="col-6">
                                  <span id="lastNameError"></span>
                              </div>
                        </div>
                         <!--row#3--> 
                        <div class="row">
                            <div class="col-2">
                              <label for="gender">Gender</label>  
                            </div>
                            <div class="col-4">
                                 <select th:field="*{gender}" class="form-control">
                                    <option th:value="Male" th:text="Male"></option>
                                    <option th:value="Female" th:text="Female"></option>
                                    <option th:value="Other" th:text="Other"></option>
                                </select>
                            </div>
                            <div class="col-6">
                                <span id="genderError"></span>
                            </div>
                      </div>
                      
                         <!--row#4--> 
                        <div class="row">
                            <div class="col-2">
                              <label for="mobile">Mobile</label>  
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{mobile}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="mobileError"></span>
                            </div>
                      </div>
                       <!--row#4--> 
                        <div class="row">
                            <div class="col-2">
                              <label for="mobile">Email</label>  
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{email}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="emailError"></span>
                            </div>
                      </div>
                      

                          <!--row#5--> 
                        <div class="row">
                            <div class="col-2">
                              <label for="dateOfBirth">DateOfBirth</label>  
                            </div>
                            <div class="col-4">
                                <input type="date" th:field="*{dateOfBirth}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="dateOfBirthError"></span>
                            </div>
                      </div>
                        <!--row#6--> 
                        <div class="row">
                            <div class="col-2">
                              <label for="marialStatus">Marital Status</label>  
                            </div>
                            <div class="col-4">
                                <input type="radio" th:field="*{marialStatus}" value="Married" />Married
                                <input type="radio" th:field="*{marialStatus}" value="UnMarried"/>UnMarried
                                <input type="radio" th:field="*{marialStatus}" value="Divorce" />Divorce
                                <input type="radio" th:field="*{marialStatus}" value="Legaly Separated " />Legally Separated
                            </div>
                            <div class="col-6">
                                <span id="marialStatusError"></span>
                            </div>
                      </div>
                        <!--row#7--> 
                        <div class="row">
                            <div class="col-2">
                              <label for="presentAddr"> Present Address</label>  
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{presentAddr}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="presentAddrError"></span>
                            </div>
                      </div>
                         <!--row#8--> 
                       <div class="row">
                          <div class="col-2">
                           <label for="commAddr"> Communication Address</label>  
                         </div>
                         <div class="col-4">
                            <input type="text" th:field="*{commAddr}" class="form-control"/>
                         </div>
                         <div class="col-6">
                            <span id="commAddrError"></span>
                         </div>
                      </div>
                         <!--row#9  --> 
                       <div class="row">
                          <div class="col-2">
                             <label for="mediHistory"> Medical History </label>  
                           </div>
                           <div class="col-4"> 
                               <input type="checkbox" th:field="*{mediHistory}" name="mediHistory" th:value="Ulcer"/>
                               <input type="checkbox" th:field="*{mediHistory}" name="mediHistory" th:value="Cancer" />
                               <input type="checkbox" th:field="*{mediHistory}" name="mediHistory" th:value="BP">
                               <input type="checkbox" th:field="*{mediHistory}" name="mediHistory" th:value="Suger" />
                           </div>
                           <div class="col-6">
                              <span id="mediHistoryError"></span>
                           </div>
                        </div>
                          <!--row#10  --> 
                        <div class="row">
                            <div class="col-2">
                               <label for="ifOther"> If Other History </label>  
                               <input type="checkbox" th:field="*{mediHistory}" name="mediHistory" th:value="ifOther" /> 
                             </div>
                             <div class="col-4"> 
                                 
                                 <input type="text" th:field="*{ifOther}" class="form-control"/>
                                 
                             </div>
                             <div class="col-6">
                                <span id="ifOtherError"></span>
                             </div>
                         </div>
                      
                         <!--row11-->
                         <div class="row">
                            <div class="col-2">
                                <label for="note">Note</label>  
                              </div>
                              <div class="col-4">
                                  <textarea th:field="*{note}" class="form-control"></textarea>
                              </div>
                              <div class="col-6">
                                  <span id="notError"></span>
                              </div> 
                        </div>
                        
                         
                          <!--row#3--> 
                        <!-- <div class="row">
                            <div class="col-2">
                              <label for="email">Email</label>  
                            </div>
                            <div class="col-4">
                                <input type="text" name="email" id="email" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="emailError"></span>
                            </div>
                         </div> -->
                       
                        <button type="submit" class="btn btn-success">Create<i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    </form>
                        
 
                </div>
                <div class="card-footer bg-white text-info" th:if="${message != null}">
                      <span th:text="${message}"></span> 
                </div>
            </div>
 
         </div>
    </body>

</html>